  <body>
      <div class="container">
        <div class="table-responsive">
        <table class="table table-bordered  table-striped">

            <h1>New Vente</h1>

            <%= render 'form', vente: @vente %>

            <%= link_to 'Back', ventes_path %>
          </table>
      </div>
    </div>
 </body>
