<h1>New Produit</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped" style="border 1">

      <%= render 'form', produit: @produit %>

      <%= link_to 'Back', produits_path %>
    </table>
  </div>
