<div class="row">
  <div class="col-xs-3 col-sm-3">
     </div>
        <div class="col-xs-9 col-sm-9">
            <div class="panel with panel-success">
                <div class="panel-heading"><h4>Ajout nouveau Achat</h4></div>
                    <div class="panel-body">
                       <%= render 'form', achat: @achat %></tr>

                        <%= link_to 'Back', achats_path %>
                    </div>
                  <div class="panel-footer">***</div>
                </div>
              </div>
            </div>
