<h1>Page_home</h1>
<h2>Vous êtes sur la page d'accueil</h2>
<h3>
  <ul>
    <li><a href="/presentation"> Page de presentation </a> <br></li>
    <li><a href="/divers"> Page de divers </a> <br></li>
    <li><a href="/contact"> Page de contact </a> <br></li>
    <li><a href="/clients"> La table des clients </a> <br></li>
    <li><a href="/produits"> La table des produits </a> <br></li>
 </ul>
</h3>

<footer>  Copyright</footer>
