<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Menu font noir</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h2>Bienvenue sur la page d'accueil</h2>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Accueil</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/presentation">Présentation</a></li>
      <li><a href="/clients">Clients</a>Clients</li>
      <li><a href="/produits">Produits</a>Produits</li>
      <li><a href="/fournisseurs">Fournisseurs</a></li>
      <li><a href="/achats">Achats</a></li>

    </ul>
    <a href="/contact"><button class="btn btn-danger navbar-btn">Contact</button></a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>

</nav>

<div class="container">
</div>

</body>
</html>
