<h1>Page_home</h1>
<h3>Vous êtes sur la page d'accueil</h3>
  <ul>
    <li><a href="/contact"> Page de contact </a> <br></li>
    <li><a href="/divers"> Page de divers </a> <br></li>
    <li><a href="/presentation"> Page de presentation </a> <br></li>
 </ul>
<footer>  Copyright</footer>
