<footer>
  <div class="row">
    <div class="col-xs-12 col-sm-12" style="background-color:black;">
        <table class="table table-bordered">
          <h4> Contactez nous au: 20 22 46 00 </h4>
        </table>
    </div>
</footer>
