  <div class="row">
    <div class="col-xs-12 col-sm-12" style="background-color:#f5f6f7;">
        <table class="table table-bordered">
          <h4> Footer : 20 22 46 00 </h4>
        </table>
      </div>
</div>
