

<!---
<h4><ul class="nav nav-tabs" style="background-color:rgb(235, 241, 237);">
    <li><a href="/presentation"> Accueil </a> <br></li>
      <li><a href="/clients"> Clients</a> <br></li>
      <li><a href="/produits"> Produits </a> <br></li>
      <li><a href="/fournisseurs"> Fournisseurs </a> <br></li>
      <li><a href="/achats"> Achats </a> <br></li>
      <li><a href="/contenu_achas"> Contenu Achat </a> <br></li>
      <li><a href="/ventes"> Ventes </a> <br></li>
      <li><a href="/contact"> Contact </a> <br></li>
 </ul></h4>---->


 <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Logo</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
         <li class="active"><a href="/">Home</a></li>
         <li class="">      <a href="/produits">Produits</a></li>
         <li class="">      <a href="/clients">Clients</a></li>
         <li class="">      <a href="/fournisseurs">Fournisseurs</a></li>
         <li class="">      <a href="/achats">Achats</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>
     </div>
   </div>
 </nav>
