  <div class="row">
          <ul>
               <li><a href="/clients">Clients</li>
               <li><a href="/produits">Produits</li>
               <li><a href="/fournisseurs">Fournisseurs</li>
          </ul>
  </div>
