
<!---<p id="notice"><%= notice %></p>
<div class="btn-group-vertical">
          <ul>
              <button> <li><a href="/clients">Clients</li></button>
              <button> <li><a href="/produits">Produits</li></button>
              <button> <li><a href="/fournisseurs">Fournisseurs</li></button>
          </ul>
        </div>--->
      <div class="col-xs-2 col-sm-2">
              <div class="list-group">
                <ul class="nav nav-pills nav-stacked" style="color:red;">
                     <li class="active"><a href="#" class="btn btn-info">Menu</a></li>
                     <li> <a href="/produits">Produits</a></li>
                     <li><a href="/fournisseurs">Fournisseurs</a></li>
                     <li><a href="/achats">Achats</a></li>
                     <li><a href="/ventes">Ventes</a></li>
                   </ul>
                   <div class="clearfix visible-lg"></div>
                 </div>
             </table>
     </div>
